---
import Singleton from '../../../data/getPaths.js';
import PokemonCard from '../../../components/PokemonCard.astro';
import Pokemon from '../../../components/Pokemon.svelte';
import Pokemon1 from '../../../components/Pokemon1.svelte';
import Pokemon2 from '../../../components/Pokemon2.svelte';
import Pokemon3 from '../../../components/Pokemon3.svelte';
export async function getStaticPaths() {
  const paths =  await Singleton.getInstance();
  return paths;
};

const { name, lang } = Astro.request.params;
const pokemon = Astro.props;
---
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link rel="icon" type="image/svg+xml" href="/favicon.svg">
      <link rel="stylesheet" type="text/css" href="{Astro.resolve('/style/global.css')}">
      <link rel="stylesheet" type="text/css" href="{Astro.resolve('/style/home.css')}">
  </head>
  <body>
    <h1>{name}</h1>
    <PokemonCard imageUrl={pokemon.sprites.front_default} name={name} types={pokemon.types} baseExperience={pokemon.base_experience} />
    <Pokemon imageUrl={pokemon.sprites.front_default} name={name} types={pokemon.types} baseExperience={pokemon.base_experience} />
    <Pokemon1 imageUrl={pokemon.sprites.front_default} name={name} types={pokemon.types} baseExperience={pokemon.base_experience} />
    <Pokemon2 imageUrl={pokemon.sprites.front_default} name={name} types={pokemon.types} baseExperience={pokemon.base_experience} />
    <Pokemon3 imageUrl={pokemon.sprites.front_default} name={name} types={pokemon.types} baseExperience={pokemon.base_experience} />
  </body>
</html>