---
const { imageUrl, types, baseExperience, name } = Astro.props;
---
<div>
  <div>
    <div>
      <img src={imageUrl}>
    </div>
    <div>
      <h2>{name}</h2>
      <p>Base Experience: {baseExperience}</p>
    </div>
    <ul>
      {
        types.map((slot, index) => (<li><a href={slot.type.url}>{slot.type.name}{index === 0 && '-'}</a></li>))
      }
    </ul>
  </div>
</div>